body{
  margin:0;
  color:#333;
  font-family: 'Rubik', sans-serif;
}

#particles-js{
  background:linear-gradient(#87CEEB, transparent), linear-gradient(to bottom right, #81F6D8, transparent);
  height:100vh;
  display: flex;
}

.content {
  background:transparent;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-size: 60rem;
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 20px;
  opacity: .4;
  text-align: center;
}

.question-mark {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  opacity: .3;
  font-size: 400px;
}
